h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
main {
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

// .container {
//   // width: 100%;
//   width: 1281px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 32px;
//   padding-right: 32px;
// }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1281px) {
    width: 1281px;
  }
}
