@import './utils/modern-normolize';
@import './utils/visually-hidden.scss';

@import './base/common';

@import './components/header.scss';
@import './components/library.scss';
@import './components/film-container.scss';
@import './components/footer.scss';

@import './loader/loader.scss';

@import './components/modal.scss';
@import './components/pagination.scss';
@import './components/modal-team.scss';
