@import './utils/modern-normolize';
@import './utils/visually-hidden.scss';

@import './base/common';
@import './base/container';

@import './components/header.scss';
@import './components/library.scss';
@import './components/film-container.scss';

@import './loader/loader.scss';

@import './components/modal.scss';
@import './components/pagination.scss';
