<div class="backdrop">
  <div class="modal">
  <button data-modal-close type="button" class="button-close">
    <svg class="button-close__icon" width="14" height="14">
      <use href="./images/icon.svg#icon-close-button"></use>
    </svg>
  </button>
  <div class="modal-container">
    <img
      class="modal-container__img"
      src="./images/icon.svg#icon-film"
      alt="movie cover"
    />
    <div class="modal-info__container">
      <h2 class="modal-info__title">A FISTFUL OF LEAD</h2>
      <table class="modal-info-table">
        <tbody class="modal-info-table__body>
          <tr class="modal-info-table__row">
            <td class="modal-info-table__title">Vote / Votes</td>
            <td class="modal-info-table__data">
              <span class="modal-info-table__data-highlight">7.3</span> 
              <span class="modal-info-table__data-highlight-item">/</span> 
              <span class="modal-info-table__data-highlight-value">1260</span></td>
          </tr>
          <tr class="modal-info-table__row">
            <td class="modal-info-table__title">Popularity</td>
            <td class="modal-info-table__data">100.2</td>
          </tr>
          <tr class="modal-info-table__row">
            <td class="modal-info-table__title">Original Title</td>
            <td class="modal-info-table__data">A FISTFUL OF LEAD</td>
          </tr>
          <tr class="modal-info-table__row">
            <td class="modal-info-table__title">Genre</td>
            <td class="modal-info-table__data">Western</td>
          </tr>
        </tbody>
      </table>
      <h3 class="modal-info__title-description">About</h3>
      <p class="modal-info__description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <ul class="modal-info__button-list">
        <li class="modal-info__button-list-item">
          <button type="button" class="modal-button">ADD TO WATCHED</button></li>
        <li class="modal-info__button-list-item">
          <button type="button" class="modal-button">ADD TO QUEUE</button></li>
      </ul>
    </div>
  </div>
</div>
</div>
