.film__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 60px;
}
.film-list__link {
  text-decoration: none;
}

.film-list__item {
  width: 395px;
  height: 670px;
  margin-bottom: 16px;

  &:hover,
  &:focus {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.film-list__img {
  display: block;
  width: 100%;
  height: 574px;
  margin-bottom: 12px;
}

.film-list__title {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.film-list__genres {
  font-size: 20px;
  color: #ff6b08;
  position: relative;
}

.film-list__date {
  padding-left: 5px;
  position: relative;
}

.film-list__date::before {
  content: '';
  width: 1px;
  height: 15px;
  border-radius: 1px;
  background-color: #ff6b08;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.film-list__box {
  padding-left: 5px;
  padding-right: 5px;
}
