.header {
  background-image: url(/src/images/abstract-background-with-red-lines-mobile.jpg);
  height: 216px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0 80px 0;
}

.logo__text {
  display: none;
}

.logo__link {
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  color: #ffffff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
}

.navigation__item:last-child {
  margin-left: 40px;
}

.navigation__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #ffffff;
}

.navigation__link--active {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    left: 0.2px;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
  }
}

.search__container {
  margin-top: 50px;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__wrap {
  position: relative;
  width: 394px;
  height: 20px;
}

.form__input {
  width: 394px;
  height: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  font-style: normal;
  background-color: inherit;
  width: 100%;
  border: 0;
  padding: 0;
  border-bottom: 0.5px solid #ffffff;
  cursor: pointer;
  outline: none;
  padding-bottom: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: #cdbea7;
    color: #cdbea7;
  }
  &::placeholder {
    color: #ffffff;
  }
  &:not(:placeholder-shown) {
    color: #cdbea7;
  }
}

input:focus::-webkit-input-placeholder,
input:hover::-webkit-input-placeholder {
  color: #cdbea7;
}

.form__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

// .form__icon {
//   stroke: #ffffff;
// }

.container__notification {
  margin-top: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  text-align: center;
  color: #ff001b;
}

@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
  }
  .logo__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .search__container {
    margin-top: 40px;
  }
  .header {
    background-image: url(/src/images/header-tab.jpg);
  }
}

@media screen and (min-width: 1281px) {
  .header {
    background-image: url(/src/images/abstract-background-with-red-lines-desktop.jpg);
  }
}
