.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;
  height: 940px;

  position: fixed;

  font-weight: 500;
  // line-height: 1.33;
  font-size: 12px;

  background-color: #fff;

  @media screen and (min-width: 1024px) {
    max-width: 806px;
    max-height: 558px;
  }
}

.modal-container {
  margin-top: 48px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  @media screen and (min-width: 1024px) {
    display: flex;
    margin: 40px 12px;
  }
}

.modal-container:last-child {
  @media screen and (min-width: 1024px) {
    margin-left: 15px;
  }
}

.modal-container__img {
  width: 240px;
  height: 357px;

  border-radius: 5px;
  border: 1px solid black;

  @media screen and (min-width: 1024px) {
    width: 375px;
    height: 478px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  padding: 0px;

  border: none;
  background-color: inherit;
}

.button-close__icon {
  display: inline-block;
}

.modal-info__container {
  margin-top: 20px;
  @media screen and (min-width: 1024px) {
    margin-left: 16px;
  }
}

.modal-info__title {
  font-size: 20px;
  line-height: 1.17;
}

.modal-info-table {
  // display: inline;
  margin: 20px 0px;
  @media screen and (min-width: 1024px) {
    line-height: 1.16;
  }
}

.modal-info-table__body:not(:last-child) {
  margin-bottom: 8px;
}

.modal-info-table__title {
  padding-right: 39px;

  color: #8c8c8c;
  @media screen and (min-width: 1024px) {
    padding-right: 83px;
  }
}

.modal-info-table__data-highlight {
  display: inline-block;
  padding: 0px 8px;
  background-color: #ff6b01;
  color: #fff;
  border-radius: 5px;
}

.modal-info-table__data-highlight-item {
  color: #8c8c8c;
}

.modal-info-table__data-highlight-value {
  text-align: center;
  display: inline-block;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 0px 5px;
}

.modal-info__title-description {
  margin-bottom: 8px;
}

.modal-info__description {
  width: 240px;
  height: 260px;

  font-size: 12px;
  line-height: 1.66;

  overflow: auto;

  margin-bottom: 20px;
}

.modal-button {
  width: 110px;
  height: 44px;

  padding: 0px;

  border-radius: 5px;
  border: 1px solid black;

  background-color: inherit;

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.modal-button:hover,
.modal-button:focus {
  background-color: #ff6b01;
  color: #fff;
  border: none;
}

.modal-info__button-list {
  display: flex;
}

.modal-info__button-list-item:first-child {
  margin-right: 20px;
  @media screen and (min-width: 1024px) {
    margin-right: 15px;
  }
}
