:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --background-color: #f7f7f7;
  --grey-color: #8c8c8c;
  --accent-color: #ff6b01;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;

  position: fixed;

  font-weight: 500;
  font-size: 12px;

  background-color: var(--background-color);

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 704px;
    height: 552px;
  }

  @media (min-width: 1024px) {
    width: 806px;
    height: 558px;
  }
}

.modal-container {
  margin-top: 48px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 40px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-left: 36px;
    margin-right: 72px;
  }
  @media (min-width: 1024px) {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.modal-container:last-child {
  @media (min-width: 1024px) {
    margin-left: 15px;
  }
}

.modal-container__img {
  width: 240px;
  height: 357px;

  border-radius: 5px;

  @media (min-width: 1024px) {
    width: 375px;
    height: 478px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  padding: 0px;

  border: none;
  background-color: inherit;

  cursor: pointer;
}

.button-close__icon {
  display: inline-block;
}

.button-close:hover .button-close__icon {
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
  fill: var(--accent-color);
}

.modal-info__container {
  margin-top: 20px;

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-left: 68px;
    margin-top: 0;
  }
  @media (min-width: 1024px) {
    margin-top: 0;
    margin-left: 16px;
  }
}

.modal-info__title {
  font-size: 20px;
  line-height: 1.15;
  @media (min-width: 1024px) {
    font-size: 30px;
  }
}

.modal-info-table {
  margin: 20px 0px;

  line-height: 1.33;
  @media (min-width: 1024px) {
  }
}

.modal-info-table__body:not(:last-child) {
  margin-bottom: 8px;
}

.modal-info-table__title {
  padding-right: 39px;

  color: var(--grey-color);
  @media (min-width: 1024px) {
    padding-right: 83px;
  }
}

.modal-info-table__data-highlight {
  display: inline-block;
  padding: 0px 8px;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 5px;
}

.modal-info-table__data-highlight-item {
  color: var(--grey-color);
}

.modal-info-table__data-highlight-value {
  text-align: center;
  display: inline-block;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 0px 5px;
}

.modal-info__title-description {
  margin-bottom: 8px;
}

.modal-info__description {
  width: 240px;

  font-size: 12px;
  line-height: 1.66;

  overflow: auto;

  margin-bottom: 20px;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 264px;
  }
  @media (min-width: 1024px) {
    width: 391px;
  }
}

.modal-info__button-list {
  display: flex;
}

.modal-info__button-list-item:first-child {
  margin-right: 20px;
  @media (min-width: 768px) {
    margin-right: 15px;
  }
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 110px;
  height: 44px;
  font-size: 13px;
  font-weight: 500;
  line-height: calc(16 / 12);
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
  transition: box-shadow 400ms ease-in, color 400ms ease-in,
    background-color 400ms ease-in;

  &:hover,
  &.added {
    color: #ffffff;
    background-color: #ff6b08;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

.iframe__div {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.watch-trailer__btn {
  position: relative;
  width: 300px;
  height: 125px;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 125px;
  }

  @media (min-width: 1024px) {
    width: 136px;
  }
}

.watch-trailer__btn:hover,
.watch-trailer__btn:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
}

.trailer-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container__img {
  position: relative;
}
