.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: 50%;
  margin: -1px;
}

//* Pagination *//
.pagination-section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    gap: 16px;
    max-width: 374px;
    margin: 0 auto;
  }
}

.pagination li {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination-current {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #ff6b08;
  color: #fff;
}

.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
